Repository booshja/portfolio-v3-next: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: removed unused imports
  src/pages/about/index.js
  src/styles/globalStyles.js
  src/styles/pages/containers.js
  src/styles/pages/media.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

refactor: color update
  src/styles/constants.js
  src/styles/themes.js
Due: prettier --write, eslint --fix

refactor: colors update
  src/styles/constants.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

chore: updated gitignore for externallyHostedImages
  .gitignore
Due: none

chore: upgraded mongodb dep
  package-lock.json
  package.json
Due: prettier --write

chore: updated next, next-plausible, react, react-dom, eslint-config-next
  package-lock.json
  package.json
Due: prettier --write

refactor: updated Link components to new next link
  src/components/Header.js
  src/components/styles/typography.js
  src/pages/404.js
  src/pages/about/index.js
  src/pages/experience/index.js
  src/pages/wp-admin/index.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

refactor: updated next/image to next/legacy/image
  src/components/Header.js
  src/components/styles/media.js
  src/pages/404.js
  src/pages/about/index.js
  src/pages/contact/index.js
  src/pages/experience/index.js
  src/pages/wp-admin/index.js
Due: prettier --write, eslint --fix

fix: upgrade mongoose from 6.4.6 to 6.7.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade react-hook-form from 7.34.0 to 7.39.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @emailjs/browser from 3.6.2 to 3.9.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reduxjs/toolkit from 1.8.3 to 1.8.6
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade uuid from 8.3.2 to 9.0.0
  package-lock.json
  package.json
Due: prettier --write

test: cypress setup, render/layout test skeletons
  .eslintrc.json
  .gitignore
  README.md
  cypress.config.js
  cypress/e2e/render-layout/404.cy.js
  cypress/e2e/render-layout/about.cy.js
  cypress/e2e/render-layout/contact.cy.js
  cypress/e2e/render-layout/experience.cy.js
  cypress/e2e/render-layout/is.cy.js
  cypress/e2e/render-layout/wp-admin.cy.js
  cypress/e2e/userFlows/userFlows.md
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

test: added contact fixture, deleted example fixture
  cypress/fixtures/contact.json
  cypress/fixtures/example.json
Due: prettier --write

test: added data-attrs to all pages and components, removed unneeded React import statements
  src/components/Copyright.js
  src/components/Header.js
  src/components/LoadingSpinner.js
  src/components/PublicLayout.js
  src/components/Result.js
  src/components/Socials.js
  src/components/ThemeToggle.js
  src/pages/404.js
  src/pages/about/index.js
  src/pages/contact/index.js
  src/pages/experience/index.js
  src/pages/index.js
  src/pages/wp-admin/index.js
Due: prettier --write, eslint --fix

test: about, 404, and is pages desktop base test written
  cypress.config.js
  cypress/e2e/render-layout/404.cy.js
  cypress/e2e/render-layout/about.cy.js
  cypress/e2e/render-layout/contact.cy.js
  cypress/e2e/render-layout/experience.cy.js
  cypress/e2e/render-layout/is.cy.js
  cypress/e2e/render-layout/wp-admin.cy.js
  cypress/fixtures/about.json
  cypress/fixtures/is.json
  cypress/support/commands.js
  package.json
  src/components/Copyright.js
  src/components/Header.js
  src/pages/about/index.js
  src/pages/index.js
  src/utils/skills.json
Due: prettier --write, eslint --fix

test: contact page render/layout test for desktop
  cypress/e2e/render-layout/contact.cy.js
  src/pages/contact/index.js
Due: prettier --write, eslint --fix

test: experience page render/layout
  cypress/e2e/render-layout/contact.cy.js
  cypress/e2e/render-layout/experience.cy.js
  cypress/fixtures/experience.json
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

test: wp-admin render/layout tests
  cypress/e2e/render-layout/experience.cy.js
  cypress/e2e/render-layout/wp-admin.cy.js
Due: prettier --write, eslint --fix

test: all layout/display tests passing, multiple viewports
  cypress/e2e/render-layout/404.cy.js
  cypress/e2e/render-layout/about.cy.js
  cypress/e2e/render-layout/contact.cy.js
  cypress/e2e/render-layout/experience.cy.js
  cypress/e2e/render-layout/is.cy.js
  cypress/e2e/render-layout/wp-admin.cy.js
  cypress/support/commands.js
  src/styles/breakpoints.js
Due: prettier --write, eslint --fix

chore: added retries to cypress run in config
  cypress.config.js
Due: prettier --write, eslint --fix

chore: added circleci setup files
  .circleci/config.yml
Due: none

chore: updating configs
  .circleci/config.yml
  package.json
Due: prettier --write

chore: circleci config
  .circleci/config.yml
Due: none

chore: more circleci config, upping node version
  .circleci/config.yml
Due: none

chore: another ci try
  .circleci/config.yml
Due: none

chore: changed to orb and executors
  .circleci/config.yml
Due: none

chore: changed ci config after looking at gleb's example
  .circleci/config.yml
Due: none

chore: circle config after cypress real world
  .circleci/config.yml
Due: none

chore: updated circleci install print command
  .circleci/config.yml
Due: none

chore: updated circleci install print command again
  .circleci/config.yml
Due: none

chore: loading env's for testing
  .env.test
  cypress.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: new flag on cypress command
  package.json
Due: prettier --write

chore: yet another attempt
  .circleci/config.yml
  cypress/support/commands.js
Due: prettier --write, eslint --fix

chore: removed start command
  .circleci/config.yml
Due: none

test: fixed problem with mobile menu in testing
  .circleci/config.yml
  cypress/support/commands.js
  src/components/Header.js
  src/components/styles/typography.js
Due: prettier --write, eslint --fix

chore: more tries
  cypress/e2e/render-layout/experience.cy.js
  cypress/e2e/render-layout/wp-admin.cy.js
  cypress/support/commands.js
  src/pages/contact/index.js
Due: prettier --write, eslint --fix

chore: added next caching to build
  .circleci/config.yml
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{html,css,json,md})
  eslint --fix: any of: *.{js,jsx}
