Repository booshja/portfolio-v3-next: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: settin up pre-commit hooks
  .husky/precommit
Due: none

chores: config
  .lintstagedrc
  .lintstagedrc.json
Due: prettier --write

chores: pre-commit hook config
  .eslintrc.json
  .husky/pre-commit
  .husky/precommit
  package-lock.json
  package.json
Due: prettier --write

chores: updated gitignore
  .gitignore
Due: none

Delete .env
  .env
Due: none

refactor: fixed link styling
  src/components/Header.js
  src/components/styles/typography.js
Due: prettier --write, eslint --fix

refactor: copy update
  src/pages/about/index.js
  src/pages/index.js
Due: prettier --write, eslint --fix

refactor: updated images/copy
  next.config.js
  src/utils/skills.json
Due: prettier --write, eslint --fix

refactor: images updates
  src/components/Header.js
  src/components/styles/buttons.js
  src/pages/404/index.js
  src/pages/about/index.js
  src/pages/contact/index.js
  src/pages/experience/index.js
  src/pages/wp-admin/index.js
  src/styles/pages/media.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

refactor: css fixes, added sentry
  .gitignore
  next.config.js
  package-lock.json
  package.json
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/pages/_app.js
  src/pages/_error.js
  src/pages/api/hello.js
  src/pages/api/seed/index.js
  src/pages/experience/index.js
  src/pages/index.js
  src/styles/Home.module.css
  src/styles/globals.css
  src/styles/pages/typography.js
  src/utils/skills.json
Due: prettier --write, eslint --fix

refactor: remove sentry test button
  src/pages/index.js
Due: prettier --write, eslint --fix

refactor: added sentry, css fixes, added seo meta tags
  public/images/bugs-bunnys-no.png
  public/images/fireworks.jpeg
  public/images/headshot.jpg
  public/images/imagine-art-here-sign.jpeg
  public/images/po-boxes.jpeg
  public/images/sad-ice-cream.jpeg
  sentry.client.config.js
  sentry.server.config.js
  src/components/Result.js
  src/pages/404/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/about/index.js
  src/pages/contact/index.js
  src/pages/experience/index.js
  src/pages/index.js
  src/pages/wp-admin/index.js
Due: prettier --write, eslint --fix

refactor: seo meta tags update
  src/pages/_app.js
Due: prettier --write, eslint --fix

refactor: added fontawesome script
  src/components/Header.js
  src/components/LoadingSpinner.js
  src/components/Socials.js
  src/pages/_app.js
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

refactor: fixed eslint rules and email service
  src/pages/contact/index.js
  src/services/emailService.js
Due: prettier --write, eslint --fix

refactor: removed fa script, added environment to sentry
  sentry.client.config.js
  sentry.server.config.js
  src/components/Header.js
  src/components/LoadingSpinner.js
  src/components/Socials.js
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

refactor: updated sentry config files
  sentry.client.config.js
  sentry.server.config.js
Due: prettier --write, eslint --fix

refactor: fontawesome fix
  src/pages/_app.js
Due: prettier --write, eslint --fix

refactor: ssr styled-components, moved head meta to separate components
  src/components/HeadMeta.js
  src/components/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

refactor: added new theme handling
  package-lock.json
  package.json
  sentry.properties
  src/components/Copyright.js
  src/components/HeadMeta.js
  src/components/Header.js
  src/components/PublicLayout.js
  src/components/ThemeToggle.js
  src/components/index.js
  src/components/styles/buttons.js
  src/components/styles/containers.js
  src/components/styles/typography.js
  src/context/themeContext.js
  src/pages/404/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/about/index.js
  src/pages/contact/index.js
  src/pages/experience/index.js
  src/pages/index.js
  src/pages/wp-admin/index.js
  src/redux/slices/themeSlice.js
  src/styles/constants.js
  src/styles/pages/buttons.js
  src/styles/pages/containers.js
  src/styles/pages/typography.js
  src/styles/themes.js
Due: prettier --write, eslint --fix

refactor: added serialization fixes
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

refactor: fixed interpolations
  src/pages/experience/index.js
  src/styles/pages/containers.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

refactor: more work
  src/components/Header.js
  src/components/styles/buttons.js
  src/pages/about/index.js
  src/pages/experience/index.js
  src/styles/pages/containers.js
  src/styles/pages/typography.js
  src/utils/skills.json
Due: prettier --write, eslint --fix

refactor: add slide in animation to landing page, update README
  README.md
  src/pages/index.js
Due: prettier --write, eslint --fix

chores: updated deps
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

chores: removed hello api route
  src/pages/api/hello.js
Due: prettier --write, eslint --fix

refactor: fixed experience isr value
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

fix: upgrade next from 12.1.6 to 12.2.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade react-hook-form from 7.32.2 to 7.34.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade mongodb from 4.7.0 to 4.8.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reduxjs/toolkit from 1.8.2 to 1.8.3
  package-lock.json
  package.json
Due: prettier --write

refactor: removed sentry, working on responsive, added mobile menu
  .gitignore
  next.config.js
  package-lock.json
  package.json
  public/images/mountain-dark.svg
  public/images/mountain-light.svg
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/components/Header.js
  src/components/styles/buttons.js
  src/components/styles/containers.js
  src/components/styles/typography.js
  src/pages/_app.js
  src/pages/_error.js
  src/pages/about/index.js
  src/pages/experience/index.js
  src/styles/breakpoints.js
  src/styles/globalStyles.js
  src/styles/pages/containers.js
  src/styles/pages/typography.js
  src/utils/skills.json
Due: prettier --write, eslint --fix

refactor: 404 page is responsive
  src/pages/404.js
  src/pages/_error.js
  src/styles/pages/media.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

refactor: wp-admin page responsive
  src/styles/pages/media.js
Due: prettier --write, eslint --fix

refactor: contact page handled
  src/pages/contact/index.js
  src/styles/globalStyles.js
Due: prettier --write, eslint --fix

refactor: experience responsiveness
  src/components/styles/buttons.js
  src/pages/contact/index.js
  src/pages/experience/index.js
  src/styles/pages/containers.js
  src/styles/pages/typography.js
Due: prettier --write, eslint --fix

refactor: updated experience images to cloudinary, removed unused imports
  next.config.js
  src/components/Header.js
  src/components/styles/containers.js
  src/components/styles/typography.js
  src/pages/experience/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{html,css,json,md})
  eslint --fix: any of: *.{js,jsx}
